<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BanCom</title>
    <!-- <link rel="stylesheet" href="./flexboxgrid.css"> -->
  </head>
  <body>
    <!-- HEADER -->
    <header id="main-header">
      <div class="container">
        <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h2><span class="primary-text">Ban</span>Com</h2>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <nav id="navbar">
              <ul>
                <li><a href="../../welcome/" routerlink="/welcome">Portal</a></li>
                <li class="current"><a href="../bank-welcome/" routerlink="/bank-welcome">Principal</a></li>
                <li><a href="../bank-finances/" routerlink="/bank-finances">Relatório</a></li>
                <li><a href="../bank-history/" routerlink="/bank-history">Histórico</a></li>
                <li><a href="../bank-contact/" routerlink="/bank-contact">Contrato</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- SHOWCASE -->
    <section id="showcase">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
            <h2>Bem-vindo a <span class="primary-text">BanCom</span></h2>
            <p>O banco digital do consórcio da Porto Seguro</p>
          </div>
        </div>
      </div>
    </section>

    <!-- FEATURES -->
    <section id="features">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Principais Funcionalidades</h2>
            <p>Benefícios da Interchains</p>
            <!-- ICON ROW 1 -->
            <div class="row center-xs center-sm center-md center-lg">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-dashboard"></i><br>
                <h4>Eficiência Operacional</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-question-circle-o"></i><br>
                <h4>Suporte 24/7</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-rocket"></i><br>
                <h4>Desenvolvimento e Upgrades</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>

            <!-- ICON ROW 2 -->
            <div class="row center-xs center-sm center-md center-lg">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-line-chart"></i><br>
                <h4>Capacitações e Cursos</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-users"></i><br>
                <h4>Gestão de Consórcio</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <i class="fa fa-plug"></i><br>
                <h4>Plug & Play</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- INFO SECTION -->
    <section id="info">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="../../../assets/img/iphone.png" alt="">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>A Interchains</h2>
            <ul>
              <li><i class="fa fa-check"></i> Eficiência Operacional</li>
              <li><i class="fa fa-check"></i> Suporte 24/7</li>
              <li><i class="fa fa-check"></i> Desenvolvimento e Upgrades</li>
              <li><i class="fa fa-check"></i> Capacitações e Cursos</li>
              <li><i class="fa fa-check"></i> Gestão de Consórcio</li>
              <li><i class="fa fa-check"></i> Plug & Play</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

 <!-- COMPANY -->
 <section id="company">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>Contato</h4>
        <ul>
          <li><i class="fa fa-phone"></i> (21) 3251-1789 </li>
          <li><i class="fa fa-envelope"></i> contato@interchains.et</li>
          <li><i class="fa fa-map"></i> Rua Funchal 538, São Paulo SP</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>Sobre Nos</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4>Newsletter</h4>
        <p>Lorem ipsum dolor sit amet</p>
        <form>
          <input type="text" name="email" placeholder="Enter Email">
          <button type="submit" name="button">Submeter</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer id="main-footer">
  <div class="container">
    <div class="row center-xs center-sm center-md center-lg">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Copyright &copy; 2020 | Interchains</p>
      </div>
    </div>
  </div>
</footer>

  </body>
</html>