/* You can add global styles to this file, and also import other style files */

.form-group>input {
    font-weight: bolder;
}

.form-group>label {
    font-weight: lighter;
}

button[type="submit"] {
    background-color: #67dfd4;
    color: #fff;
}

.jumbotron {
    background-color:#fff;
    padding: top 32px;
}

.banner4-img {
    background: url('../../../assets/img/carro2.jpg')  no-repeat center center/cover;
    height: calc(100vh - 100px);
    background-size: cover;
    padding-top: 50px;
}

table tr:hover {
    cursor: pointer;
    background-color: lightgrey;
}

input.ng-touched.ng-invalid {
    border-color: #dc3545;
}

div.validation-error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
h1{
    background-color: lightgrey;
}

.box-container2 {
    background: rgb(167, 165, 165, 0.5);
    padding: 50px;
    margin: auto;
}