<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img class="header-logo" src="../../assets/img/logo.png" /></div>
            <div class="col-md-10">
                <div class="box-menu">
                    <ul class="menu-list">
                        <li>
                            <a routerLink="">INICIO</a>
                        </li>
                        <li>
                            <a routerLink="/cars">VEÍCULOS</a>
                            <ul>
                                <li>
                                    <a routerLink="/reports">Relatório</a>
                                </li>
                                <li>
                                    <a routerLink="/cars">Gestão</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a routerLink="/claims">SINISTRO</a>
                        </li>
                        <li>
                            <a routerLink="/finances">FINANCEIRO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>