<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Porto Menu</title>
</head>

<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="../reports/" routerlink="/reports">Porto Seguro</a></li>
                        <!-- <li><a href="../cars/" routerlink="/cars">Veículos</a></li>
                        <li><a href="../claims/" routerlink="/claims">Sinistros</a></li> -->
                        <!-- <li><a href="../finances/" routerlink="/financeiro">Financeiro</a></li> -->
                        <li><a href="../bank-welcome/" routerlink="/bank-welcome">BanCom</a></li>
                        <li><a href="../detran/" routerlink="/detran">Detran</a></li>
                        <li><a href="https://www.interchains.net">Sobre Interchains</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <header class="showcase">
        <div class="container showcase-inner">
            <h2>Porto Seguro</h2>
            <p>Bem-vindo ao portal de Pagamentos de Sinistros da Porto Seguro!</p>
            <p>Nesta aplicação voce podera fazer testes no novo ambiente de Blockchain.</p>
            <p>Você terá acesso a 3 ambientes para testes:</p>
            <br>
            <ul>
                <li>Gestão de frota e sinistros da Porto Seguro</li>
                <li>Aplicação bancaria de gestão de financiamento</li>
                <li>Portal de multas do detran</li>
            </ul>
            <br>
            <p> Disclaimer: As aplicações são simulações limitadas a este escopo e nao representam serviços ou empresas
                reais</p>
            <a href="https://www.portoseguro.com.br/" class="btn">Visite Porto</a>
        </div>
    </header>
</body>